@model IDGS903_Tema1.Models.Traductor

@{
    ViewBag.Title = "Traductor";
}

<h2>Traductor</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <hr />
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.Palabra, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Palabra, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Palabra, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Lenguaje, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <label class="radio-inline">
                            @Html.RadioButtonFor(model => model.Lenguaje, "ingles", new { @class = "form-control" }) Inglés
                        </label>
                        <br /><br />
                        <label class="radio-inline">
                            @Html.RadioButtonFor(model => model.Lenguaje, "español", new { @class = "form-control" }) Español
                        </label>
                        @Html.ValidationMessageFor(model => model.Lenguaje, "", new { @class = "text-danger" })
                    </div>
                </div>
                <br /><br />
                <div class="form-group">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-2">
                                <input type="submit" value="TRADUCIR" class="btn btn-outline-dark" />
                            </div>
                            <div class="col-lg-2">
                                <a class="btn btn-outline-danger" href="/Nuevo/RegistrarTraduccion">REGRESAR</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 align-content-center">
                <h2 class="text-danger">@ViewBag.Traduccion</h2>
            </div>
        </div>
    </div>
</div>
}